# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
backup

# Files from Forge MDK
forge*changelog.txt
/src/main/original-java
/mapppings
/mcmodsrepo
/local.properties

# Files from architectury
.architectury-transformer
/logs
/.vscode
/curseforge

*.kra
*.kra~
*.blend1
*.mtl
*.png~
*.aup3
*.aup3-wal
.xdp-*
*.kate-swp
/models/custom_model.java
/models/custom_model_yarn.java
/page/


# Temporary
blimp.*

.DS_Store
