# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
backup
/common/src/main/resources/assets/immersive_airships/textures/models/armor/emerald

# Files from Forge MDK
forge*changelog.txt
/src/main/original-java
/mapppings
/mcmodsrepo
/local.properties

# Files from architectury
.architectury-transformer
/logs
/common/src/main/resources/assets/immersive_armors/textures/*.psd
/.vscode
/curseforge
